.upperContainer__9293f .toolbar__9293f .search__49676 {
  /* Re-Iconify Search */
  order: -1;
  .searchBar__97492 {
    /* Make the default state only show an icon that can be clicked. */
    transition: all ease 0.3s;
    width: 25px;
    box-sizing: unset;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    .icon__97492 {
      height: 32px;
      width: 32px;
      scale: 1.2;
      cursor: pointer;
    }
  }
  .focused__97492 .searchBar__97492,
  .open__97492 .searchBar__97492 {
    /* Expand the search bar when focused, and keep it expanded when text is entered. These classes make it really easy, thanks discord! */
    width: 225px;
    box-sizing: border-box;
    cursor: text;
    background: var(--background-gradient-low, var(--input-background));
    border: 1px solid var(--input-border);
    padding: 2px 0;
    .icon__97492 {
      height: 24px;
      width: 24px;
      scale: 1;
      cursor: pointer;
    }
  }
}
