.textAreaSlate__74017 > div:not([class]) > :nth-last-child(2) {
  font-size: 0;
}
.textAreaSlate__74017 > div:not([class]) > :nth-last-child(2):before {
  content: "Write a message...";
  font-size: 0.9rem;
}
.textAreaSlate__74017 {
  overflow: hidden;
}
