.textAreaSlate_d0696b > div:not([class]) > :nth-last-child(2) {
  font-size: 0;
}
.textAreaSlate_d0696b > div:not([class]) > :nth-last-child(2):before {
  content: "Write a message...";
  font-size: 0.9rem;
}
.textAreaSlate_d0696b {
  overflow: hidden;
}
