/* Imports that still work */
@import url(//dablulite.github.io/css-snippets/BetterAuthApps/import.css);
@import url(//dablulite.github.io/css-snippets/BetterFloatingEditor/import.css);
@import url(//dablulite.github.io/css-snippets/BetterModals/import.css);

/* BD Addon mini */
:root {
    --bdAddonMini-bg-checked: var(--background-tertiary);
    --bdAddonMini-bg-unchecked: var(--background-secondary);
    --bdAddonMini-bg-unchecked-hover: var(--background-modifier-hover);
}

.bd-addon-list.bd-grid-view {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.bd-addon-list .bd-addon-card {
    position: relative;
    overflow: visible;
    margin-bottom: 10px;
}

.bd-addon-list .bd-addon-header {
    background: none;
    padding-left: 0;
}

.bd-addon-card:hover .bd-addon-header {
    max-width: calc(100% - 80px);
}

.bd-addon-card:hover .bd-addon-header:has(~.bd-footer .bd-controls button:nth-child(3)) {
    max-width: calc(100% - 112px);
}

.bd-addon-list .bd-addon-card>:not(.bd-addon-header),
.bd-addon-list .bd-addon-header .bd-icon,
.bd-addon-list .bd-footer .bd-addon-button {
    display: none;
}

.bd-addon-card .bd-title {
    margin-left: 32px;
}

.bd-addon-card .bd-title .bd-meta {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bd-addon-card .bd-title .bd-meta a {
    z-index: 2;
}

/* footer */
.bd-addon-list .bd-addon-card .bd-footer {
    position: absolute;
    padding: 0 16px 0 8px;
    height: 100%;
    display: flex;
    width: 100%;
    overflow: visible;
    justify-content: flex-end;
}

.bd-addon-card .bd-footer>* {
    z-index: 3;
}

.bd-addon-card:hover .bd-controls .bd-addon-button {
    display: flex;
}

.bd-addon-card .bd-footer .bd-links {
    top: 53px;
    position: absolute;
    left: 8px;
}

.bd-addon-list.bd-grid-view .bd-footer .bd-links {
    top: 63px;
}

/* controls */
#app-mount .bd-addon-card .bd-button {
    border-radius: 4px;
}

.bd-addon-card .bd-button:not(:hover) {
    background: none;
}

.bd-addon-card .bd-button:not(:hover) svg {
    fill: var(--interactive-normal);
}

.bd-addon-card .bd-addon-button.bd-button-color-red svg {
    transform: scale(1.2);
}

.bd-addon-card .bd-addon-button.bd-button-color-red:not(:hover) svg {
    fill: var(--info-danger-foreground);
}

/* description */
.bd-addon-list .bd-addon-card .bd-description-wrap {
    transform: scale(1);
    transition: transform .2s;
    transition-delay: 2s;
}

@keyframes bdDescriptionVisibility {
    to {
        visibility: visible;
    }
}

@keyframes tooltipBottom {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.bd-addon-card:hover .bd-description-wrap,
.bd-addon-card:hover .bd-footer .bd-links .bd-addon-button {
    display: flex;
    opacity: 0;
    transform: scale(.9);
    transform-origin: top center;
    animation: tooltipBottom 0.1s 1s forwards, bdDescriptionVisibility 0s 1s forwards;
    visibility: hidden;
}

.bd-addon-card .bd-description-wrap {
    position: absolute;
    flex: unset;
    padding: unset;
    margin: 48px 0 0 -4px;
    max-width: 300px;
    z-index: 3;
    background-color: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    border-radius: 5px;
}

.bd-addon-list.bd-grid-view .bd-description-wrap {
    margin-top: 58px;
}

.bd-addon-card .bd-description {
    margin-bottom: unset;
    padding: calc(8px + 26px) 12px 8px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.bd-addon-list.bd-grid-view .bd-description {
    padding-top: calc(8px + 26px);
}

/* banner */
.bd-addon-card .bd-description-wrap {
    flex-direction: column;
}

.bd-addon-card .bd-description-wrap .banner {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
    border-radius: 4px;
    border-width: 1px;
    margin: 32px 8px 8px 8px;
}

.bd-addon-card .banner.banner-danger {
    border-color: var(--info-danger-foreground);
    background: var(--info-danger-background);
    color: var(--info-danger-text);
}

.bd-addon-card .banner-danger .bd-icon {
    fill: var(--info-danger-foreground);
}

.bd-addon-card .banner-danger .bd-icon path[d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"] {
    d: path("M10 0C4.486 0 0 4.486 0 10C0 15.515 4.486 20 10 20C15.514 20 20 15.515 20 10C20 4.486 15.514 0 10 0ZM9 4H11V11H9V4ZM10 15.25C9.31 15.25 8.75 14.691 8.75 14C8.75 13.31 9.31 12.75 10 12.75C10.69 12.75 11.25 13.31 11.25 14C11.25 14.691 10.69 15.25 10 15.25Z");
}

/* switch */
.bd-addon-card .bd-switch {
    order: -1;
    position: static;
}

.bd-addon-card .bd-switch input {
    top: 0;
}

.bd-addon-card .bd-switch .bd-switch-body {
    pointer-events: none;
    z-index: 1;
    transform: translateX(16px);
}

/* background */
.bd-addon-card {
    background: var(--bdAddonMini-bg-unchecked);
}

.bd-addon-card:has(.bd-switch-checked) {
    background: var(--bdAddonMini-bg-checked);
}

.bd-addon-card:not(:has(.bd-switch-checked), .bd-addon-card-disabled):hover {
    background: var(--bdAddonMini-bg-unchecked-hover);
}

.bd-addon-card:not(:has(.bd-switch-checked), :hover) .bd-addon-header {
    opacity: 0.6;
}

.bd-addon-card .bd-switch-disabled {
    opacity: 1;
    filter: none;
}

.bd-addon-card.bd-addon-card-disabled {
    background: var(--info-danger-background);
    border: 1px solid var(--info-danger-foreground);
}

.bd-addon-card .banner~.bd-description {
    padding-top: 0;
}

/* Profile Banner Skins (broke with new update, may come back and fix it..)
.theme-dark .userProfileInner_c69a7b,
.theme-dark .accountProfileCard__1fed1 {
  --profile-body-background-color: rgba(0, 0, 0, 0.45);
}

.theme-light .userProfileInner_c69a7b,
.theme-light .accountProfileCard__1fed1 {
  --profile-body-background-color: rgba(255, 255, 255, 0.65);
}

.bannerSVGWrapper_b32cc2:not(:has([style*=image])) {
  overflow: visible;
  contain: none;
}
.bannerSVGWrapper_b32cc2:not(:has([style*=image])) foreignObject {
  -webkit-mask: none;
          mask: none;
}
.bannerSVGWrapper_b32cc2:not(:has([style*=image])) [style*=background-color] {
  height: 100vh;
}

.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatarWrapper_f89da9 {
  background: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatarHoverTarget_f89da9,
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatarHint_f89da9 {
  padding: 6px;
}
.userProfileInner_c69a7b:not(:has(svg div[style*=image])) .avatar_ec3b75 {
  background: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  padding: 6px;
}
.userProfileInner_c69a7b .profileBadges_f89da9:not(.containerWithContent_b64375) {
  padding-top: 4px;
  padding-bottom: 4px;
}
.userProfileInner_c69a7b .messageInputContainer_f2c0a8 {
  border: none;
}

.containerWithContent_b64375 {
  box-shadow: var(--elevation-medium);
  z-index: 1;
}

.overlayBackground_c69a7b {
  margin: 28px 8px 8px;
  box-shadow: var(--elevation-medium);
  z-index: 1;
}

.userProfileInner_c69a7b .wrapper__44b0c circle,
.userProfileInner_c69a7b .wrapper__44b0c rect[style] {
  fill: none;
}

.accountProfileCard__1fed1:not(:has(div[style*=image])) {
  background: none;
  box-shadow: var(--elevation-medium);
}
.accountProfileCard__1fed1:not(:has(div[style*=image])) .avatar__1fed1 {
  top: 16px;
  left: 16px;
  padding: 6px;
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}
.accountProfileCard__1fed1 .bannerSVGWrapper_b32cc2 {
    position: absolute;
    min-width: unset !important;
    width: 100%;
}
.accountProfileCard__1fed1 .userInfo__1fed1 {
  height: 116px;
  align-items: flex-end;
  position: relative;
}
.accountProfileCard__1fed1:has(div[style*=image]) .userInfo__1fed1 {
  margin-top: 60px;
}
.accountProfileCard__1fed1:has(div[style*=image]) .avatar__1fed1 {
  top: 22px;
}
.accountProfileCard__1fed1:has(div[style*=image]) .userInfo__1fed1 > button {
  align-self: center;
}
.accountProfileCard__1fed1 .profileCardUsernameRow__1fed1,
.accountProfileCard__1fed1 .containerWithContent_b64375 {
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
}
.accountProfileCard__1fed1 .userTag__1fed1 {
  margin-bottom: 0;
  padding-left: 4px;
}
.accountProfileCard__1fed1 .profileCardUsernameRow__1fed1 .overflowMenuButton__1fed1 {
  height: 24px;
}
.accountProfileCard__1fed1 .containerWithContent_b64375 {
  margin-top: 4px;
}
.accountProfileCard__1fed1 .background__1fed1 {
  box-shadow: var(--elevation-medium);
  position: relative;
  background-color: var(--profile-body-background-color);
}
.accountProfileCard__1fed1 .fieldList__1fed1 {
  background: none;
}
*/
/* Bearable Inbox */
.recentMentionsPopout__95796 .container__95796,
.recentMentionsPopout__95796 .channel__427f0 {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

.recentMentionsPopout__95796 .container__95796 {
    padding-right: unset;
}

.recentMentionsPopout__95796 .messagesPopout__45690 {
    padding: 16px;
}

.recentMentionsPopout__95796 .channel__427f0 {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}

.recentMentionsPopout__95796 .channelHeader__35a7e {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.recentMentionsPopout__95796 .messageContainer__95796,
.recentMentionsPopout__95796 .messages__1ccd1 {
    margin-left: unset;
    background: none;
    border-radius: unset;
}

/* header icon */
.recentMentionsPopout__95796 .iconSizeMedium_f34534 {
    width: 24px;
    height: 24px;
}

.recentMentionsPopout__95796 .iconActiveMedium_f34534 {
    border-radius: 7px;
}

.recentMentionsPopout__95796 .dmIcon__35a7e,
.recentMentionsPopout__95796 .guildIcon__35a7e {
    margin-right: 6px;
}

/* channel name section */
.recentMentionsPopout__95796 .channelName__35a7e svg path {
    fill: var(--channel-icon);
}

.recentMentionsPopout__95796 .channelName__35a7e svg {
    margin: 0 4px;
}

.recentMentionsPopout__95796 .channelNameSection__35a7e {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}

.recentMentionsPopout__95796 .heading-md-medium-2DVCeJ,
.recentMentionsPopout__95796 .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}

.recentMentionsPopout__95796 .subtext__35a7e,
.recentMentionsPopout__95796 .subtextContainer__35a7e {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}

/* buttons */
.recentMentionsPopout__95796 .container__95796 .closeButton__95796 {
    opacity: 0;
}

.recentMentionsPopout__95796 .container__95796:hover .closeButton__95796 {
    opacity: 1;
}

.recentMentionsPopout__95796 .tertiary_ad6d80:not(.disabled__4d064),
.recentMentionsPopout__95796 .tertiary_ad6d80:hover:not(.disabled__4d064) {
    background: none;
}

.recentMentionsPopout__95796 .collapseButton__427f0:hover {
    color: var(--interactive-active);
}

.recentMentionsPopout__95796 .collapseButton__427f0 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}

.recentMentionsPopout__95796 .messages__1ccd1>button:last-of-type {
    margin-left:auto;
}
