.channelTextArea__2e60f {
  margin-bottom: 0;
}
.form__13a2c {
  padding: 0;
}
.inner__9fd0b {
  padding-top: 5px;
}
.base__512ed {
  top: -24px;
  pointer-events: none;
}
.theme-dark .scrollableContainer__33e06 {
  border-radius: 0px;
  min-height: 53px;
}
