.channelTextArea_c2094b {
  margin-bottom: 0;
}
.form_d8a4a1 {
  padding: 0;
}
.inner__9fd0b {
  padding-top: 5px;
}
.base__06abc {
  top: -24px;
  pointer-events: none;
}
.theme-dark .scrollableContainer_ff917f {
  border-radius: 0px;
  min-height: 53px;
}
