.channelTextArea_a7d72e {
  margin-bottom: 0;
}
.form_a7d72e {
  padding: 0;
}
.inner_d0696b {
  padding-top: 5px;
}
.base_d7ebeb {
  top: -24px;
  pointer-events: none;
}
.theme-dark .scrollableContainer_d0696b {
  border-radius: 0px;
  min-height: 53px;
}
