.recentMentionsPopout_ddb5b4 .messages_c06487>button:last-of-type {
    margin-left:auto;
}
.containerDefault_f6f816 .list_a478e5.list_d80634{
    border-left: 1px solid var(--background-modifier-accent);
    border-bottom: 1px solid var(--background-modifier-accent);
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 24px;
}
