.scrollerInner_e2e187
  > .groupStart_d5deea:not(.backgroundFlash_d5deea)
  > .wrapper_f9f2ca {
  padding: 0 0 0 16px;
}
.scrollerInner_e2e187
  > .groupStart_d5deea:not(.backgroundFlash_d5deea)
  > .wrapper_f9f2ca.compact_f9f2ca {
  padding: 0 0 0 108px;
}
.scrollerInner_e2e187 > .groupStart_d5deea:not(.backgroundFlash_d5deea) {
  margin: 0;
}
.scrollerInner_e2e187
  > .groupStart_d5deea.expanded_c09d0f:not(.backgroundFlash_d5deea) {
  background-color: var(--info-danger-background);
}
.scrollerInner_e2e187
  > .groupStart_d5deea:not(.backgroundFlash_d5deea)
  .messageListItem_d5deea
  .groupStart_d5deea,
.scrollerInner_e2e187
  > .groupStart_d5deea:not(.backgroundFlash_d5deea, .expanded_c09d0f)
  + .messageListItem_d5deea
  .groupStart_d5deea {
  margin-top: 0;
}
.scrollerInner_e2e187
  > .groupStart_d5deea:not(.backgroundFlash_d5deea)
  .messageListItem_d5deea {
  opacity: 0.5;
}
.blockedSystemMessage_c09d0f .iconContainer_e62b38 {
  display: none;
}
.blockedMessageText_c09d0f {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: var(--interactive-muted);
}
.blockedMessageText_c09d0f:hover {
  text-decoration: underline;
}
.blockedMessageText_c09d0f:hover,
.groupStart_d5deea.expanded_c09d0f .blockedMessageText_c09d0f {
  color: var(--info-danger-foreground);
}
.blockedAction_c09d0f {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
}
.blockedMessageText_c09d0f:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 14px;
  pointer-events: none;
  background-color: currentColor;
  -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>')
    center/contain no-repeat;
}
