.scrollerInner__36d07
  > .groupStart__5126c:not(.backgroundFlash__5126c)
  > .wrapper_c19a55 {
  padding: 0 0 0 16px;
}
.scrollerInner__36d07
  > .groupStart__5126c:not(.backgroundFlash__5126c)
  > .wrapper_c19a55.compact_c19a55 {
  padding: 0 0 0 108px;
}
.scrollerInner__36d07 > .groupStart__5126c:not(.backgroundFlash__5126c) {
  margin: 0;
}
.scrollerInner__36d07
  > .groupStart__5126c.expanded__7a70a:not(.backgroundFlash__5126c) {
  background-color: var(--info-danger-background);
}
.scrollerInner__36d07
  > .groupStart__5126c:not(.backgroundFlash__5126c)
  .messageListItem__5126c
  .groupStart__5126c,
.scrollerInner__36d07
  > .groupStart__5126c:not(.backgroundFlash__5126c, .expanded__7a70a)
  + .messageListItem__5126c
  .groupStart__5126c {
  margin-top: 0;
}
.scrollerInner__36d07
  > .groupStart__5126c:not(.backgroundFlash__5126c)
  .messageListItem__5126c {
  opacity: 0.5;
}
.blockedSystemMessage__7a70a .iconContainer__235ca {
  display: none;
}
.blockedMessageText__7a70a {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: var(--interactive-muted);
}
.blockedMessageText__7a70a:hover {
  text-decoration: underline;
}
.blockedMessageText__7a70a:hover,
.groupStart__5126c.expanded__7a70a .blockedMessageText__7a70a {
  color: var(--info-danger-foreground);
}
.blockedAction__7a70a {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
}
.blockedMessageText__7a70a:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 14px;
  pointer-events: none;
  background-color: currentColor;
  -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>')
    center/contain no-repeat;
}
