/* Nitro store */
[href="/store"] {
  display: none;
}

/* Game library */
[href="/library"] {
  display: none;
}

/* Notification settings */
[aria-label="Notification Settings"] {
  display: none;
}

/* Help button */
[aria-label="Help"] {
  display: none;
}

/* Nitro badge on banner */
.premiumIconWrapper__7793e {
  display: none;
}

/* Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Sticker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Scrollbar in message section */
.scroller_e412fe::-webkit-scrollbar {
  display: none;
}

/* Scrollbar on channel list */
.scroller__1f498::-webkit-scrollbar {
  display: none;
}

/* margin fix */
.scroller__1f498 {
  margin-right: 8px;
}
