/* Nitro store */
[href="/store"] {
  display: none;
}

/* Game library */
[href="/library"] {
  display: none;
}

/* Notification settings */
[aria-label="Notification Settings"] {
  display: none;
}

/* Help button */
[aria-label="Help"] {
  display: none;
}

/* Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Sticker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Command button in bot dms */
.entryPointButtonContainer_f75fb0 {
  display: none;
}
