/* Nitro store */
[href="/store"] {
  display: none;
}

/* Game library */
[href="/library"] {
  display: none;
}

/* Notification settings */
[aria-label="Notification Settings"] {
  display: none;
}

/* Help button */
[aria-label="Help"] {
  display: none;
}

/* Boost goal progress bar */
div[id="channels"] > ul[class^="content"] div:has(div[class^="progress"]) {
    display: none;
}

/* Activity at top of member list */
h3[class*=membersGroup_]:has(svg) {
    & ~ div:not([class]) {display: none}

    display: none;
}

/* Newly added dropdown menu for mute and deafen */
div[class^=micButtonParent__] {
  button[role="switch"] {
    border-radius: var(--radius-sm) !important;
    
    ~ button {
      display: none;
    }
  }
}
