.role_dfa8b6 {
    transform: translate(0);
    overflow: hidden;
    border: 0;

    --transparency: .05;
    border-radius: 5px;
}
.role_dfa8b6 .roleRemoveIcon__48c1c {
    margin: 0;
    left: unset;
    transform: translate(50%,-50%);
}
.role_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: static;
}
.role_dfa8b6 .roleCircle__4f569:after {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: var(--transparency);
}
