.content__7191e {
  background: #2b2d31;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 500;
  justify-content: center;
}
.divider__01aed:not(.isUnread_de09f5) {
  border-color: transparent;
}
.divider__01aed {
  border-color: transparent;
}
.unreadPill__1b4fa {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.unreadPillCap__44e20 {
  display: none;
}
.divider__855e3:has(.unreadPill__1b4fa) > .content__7191e {
  background: #2b2d31;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 500;
  justify-content: center;
}
.divider__855e3 {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 3px;
  margin: 0;
  border-top: unset;
}
.divider__855e3 .content__7191e {
  background: #2b2d31;
  color: white;
}
.divider__855e3.isUnread_de09f5 .unreadPill__1b4fa {
  position: unset;
  background: transparent;
  font-size: 0px;
  text-transform: unset;
  color: var(--divider-color);
  background: var(--background-secondary);
  padding: 12px 0;
  width: 100%;
}
.divider__855e3.isUnread_de09f5 .unreadPill__1b4fa::after {
  content: "Unread messages";
  font-size: 12px;
  color: #54a9eb;
  font-weight: 300;
}
.scroller_e412fe::-webkit-scrollbar {
  display: none;
}
