.content_c2654d {
  background: #2b2d31;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 500;
  justify-content: center;
}
.divider_d5deea:not(.isUnread_c2654d) {
  border-color: transparent;
}
.divider_d5deea {
  border-color: transparent;
}
.unreadPill_c2654d {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.unreadPillCap_c2654d {
  display: none;
}
.divider_c2654d:has(.unreadPill_c2654d) > .content_c2654d {
  background: #2b2d31;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 500;
  justify-content: center;
}
.divider_c2654d {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 3px;
  margin: 0;
  border-top: unset;
}
.divider_c2654d .content_c2654d {
  background: #2b2d31;
  color: white;
}
.divider_c2654d.isUnread_c2654d .unreadPill_c2654d {
  position: unset;
  background: transparent;
  font-size: 0px;
  text-transform: unset;
  color: var(--divider-color);
  background: var(--background-secondary);
  padding: 12px 0;
  width: 100%;
}
.divider_c2654d.isUnread_c2654d .unreadPill_c2654d::after {
  content: "Unread messages";
  font-size: 12px;
  color: #5865f2;
  font-weight: 300;
}
.scroller_e2e187::-webkit-scrollbar {
  display: none;
}
