/* Fix gap between gif text and next msg */
.altText__6dd8b {
  margin: .25rem 0 -0.15rem;
  line-height: 17px;
}

/* Normalize the Hide member list button color */
.icon__4cb88 {
    color: var(--interactive-normal) !important;
}

/* Fix Insert Timeline plugin's icon not being aligned with ConsistenChatbar css */
.sansAttachButton__996a4 > div[style*='margin-top: 10px'] {
    margin: auto !important;
}

/* Remove facetime button */
.iconWrapper_af9215:has(path[d^="M21.526 8.149C21.231 7.966"]) {
    display: none;
}
