/* Fix gap between gif text and next msg */
.altText__6dd8b {
  margin: .25rem 0 -0.15rem;
  line-height: 17px;
}

/* Normalize the Hide member list button color */
.icon__4cb88 {
    color: var(--interactive-normal) !important;
}

/* Fix Insert Timeline plugin's icon not being aligned with ConsistenChatbar css */
.sansAttachButton__996a4 > div[style*='margin-top: 10px'] {
    margin: auto !important;
}

/* Remove facetime button */
.iconWrapper_af9215:has(path[d^="M21.526 8.149C21.231 7.966"]) {
    display: none;
}

/* Fix mute button being white by default */
.colorable_c84c4c.primaryDark__6b700[aria-label="Unmute"],
.colorable_c84c4c.primaryDark__6b700[aria-label="Unmute"] .centerIcon__6075a,
.controlButton_ab2899:has(
    .colorable_c84c4c.primaryDark__6b700[aria-label="Unmute"]
  )
  .contextMenuNub__7c02f {
  color: var(--primary-860);
}

.controlButton_ab2899:has(
    .colorable_c84c4c.primaryDark__6b700[aria-label="Unmute"]
  )
  .contextMenuNub__7c02f,
.controlButton_ab2899:has(
    .colorable_c84c4c.primaryDark__6b700[aria-label="Unmute"]
  )
  .colorable_c84c4c.primaryDark__6b700[aria-label="Unmute"] {
  background: white;
}

.colorable_c84c4c.white__10e89[aria-label="Mute"],
.colorable_c84c4c.white__10e89[aria-label="Mute"] .centerIcon__6075a,
.controlButton_ab2899:has(.colorable_c84c4c.white__10e89[aria-label="Mute"])
  .contextMenuNub__7c02f {
  color: white;
}

.controlButton_ab2899:has(.colorable_c84c4c.white__10e89[aria-label="Mute"])
  .contextMenuNub__7c02f,
.controlButton_ab2899:has(.colorable_c84c4c.white__10e89[aria-label="Mute"])
  .colorable_c84c4c.white__10e89[aria-label="Mute"] {
  background: var(--primary-630);
}

/* Remove flipping of camera on preview of self, to match what others see */
.mirror_e336b2 {
  transform: unset;
}

/* Fix Mosaic Zoom */
[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }
